body{
    background-color:#FFF0D4;
}

h1{
     text-align: center;
     color:black;
     font-size:20pt;
}

h2{
   text-align:center;
   background:linear-gradient(to top,orange,yellow);
   font-size:16pt;
}

div.image{
   margin-top: 50px;
   border-color: black;
   border-style:groove;
   border-width:small;
   position:absolute;
   left:700px;
   top:130px;
}

div.building1:hover{
   position:relative;
   background-image: url("arrow.png");
   top:-310px;
   left:750px;
   width:30px;
   height:40px;
}

div.building{
   color:black;
   font-weight:bold;
   font-size:20px;
   position:relative;
   left:230px;
   top:80px;
   margin-right: 1100px;
   border-style:solid;
   border-width:medium;
   border-radius:15%;
   padding:20px 20px 20px 20px;
   background-image: url("background.jpg");
}

a{
   text-decoration: none;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   text-shadow:5px 5px 5px #cccccc;
}