a{ 
    color:black;
 }

 .badmintontools a{
    text-decoration:none;
 }

 .right a{
    text-decoration:none;
 }

.right{

    float:right;
    column-count:4;
    padding-top:25px;
    margin-top: -50px;
    vertical-align: text-top;
    grid-column: 10%;
}

.header
{
    width: 100%;
    height: 80px;
}


.logo{
    background-image: url(../../image/logo.png);
    height: 70px;
    width: 70px;
    background-size:cover;
    border-radius: 9999em;
    margin-left: 50px;
}
.badmintontools
{
    border-top: solid 3px silver;
    border-bottom: solid 3px silver;
    column-count:6;
    text-align:center;
    margin:10px;
    column-rule:1px silver solid ;
}
.badmintontools div:hover{
    background: -webkit-radial-gradient(ellipse,rgb(216, 214, 214),white);
}
.item{
    padding:10px;
}


.calluslocal{
    margin-left: 1%;
    padding-top: 3%;
}

.callus{
    float: left;   
}

.reachus{
    vertical-align: text-top;
}

.copyright{
    float: left;
    margin-left: 24% ;
    padding-top:1%;
    font-weight: bold;
}

.tailright{
    float: right;
    margin-top: -5%;
    margin-right: 5%;
}


footer{
    margin-top:3%;
    background-color: rgb(243, 188, 188);
    height:160px;
}

.text2{
    text-align: center;

}
.content{
    border:solid;
    margin:5%;
    height:475px;
}


.button{
    position:absolute;  
    margin-top:0.2%;
}


input[type="button"]{
   position:absolute;
   top:46%;
   left:48.5%;
   border-radius: 20cm;
   height:30px;
   width:60px;
}


.word{
    margin-left:5%;
    margin-right:5%;
    text-align:center;
    font-size:26pt;
    font-weight: bold; 
}
.messageboard{
    border:groove;
    margin-left:5%;
    margin-right:5%;
    height:520px;
    overflow: auto;
}

.frame{
    border: 2px solid gray;  
    height:80px;
    width:98%;
    margin:10px;
}

.price{
    position:relative;
    border:solid;
    margin-top:0.4%;
    margin-left:48%;
    font-size:18pt;
}

.price1{
    float:right;
    border:solid;
    margin-top:-29%;
    margin-right:40.8%;
    font-size:18pt;
}

.price2{
    float:right;
    border:solid;
    margin-top:-29%;
    margin-right:41.8%;
    font-size:18pt;
    
}

.ni{
    position:relative;  
    border:solid;
    margin-top:-33%;
    margin-right:10%;
    margin-left:48%;
    font-size:26pt;
    font-weight:bold;
}

.ni1{
    position:relative;
    float:right;
    border:solid;
    margin-top:-33%;
    margin-right:7.7%;
    font-size:26pt;
    font-weight:bold;
}

.ni2{
    position:relative;
    float:right;
    border:solid;
    margin-top:-33%;
    margin-right:10.9%;
    font-size:26pt;
    font-weight:bold;
}

.ni3{
    position:relative;
    float:right;
    border:solid;
    margin-top:-33%;
    margin-right:11.3%;
    font-size:26pt;
    font-weight:bold;
}

.ni4{
    position:relative;
    float:right;
    border:solid;
    margin-top:-33%;
    margin-right:11.8%;
    font-size:26pt;
    font-weight:bold;
}

.ni5{
    position:relative;
    float:right;
    border:solid;
    margin-top:-33%;
    margin-right:14.2%;
    font-size:26pt;
    font-weight:bold;
}

.ni6{
    position:relative;
    float:right;
    border:solid;
    margin-top:-33%;
    margin-right:6.2%;
    font-size:26pt;
    font-weight:bold;
}

.ni7{
    position:relative;
    float:right;
    border:solid;
    margin-top:-33%;
    margin-right:23.3%;
    font-size:26pt;
    font-weight:bold;
}

.ni8{
    position:relative;
    float:right;
    border:solid;
    margin-top:-33%;
    margin-right:18.4%;
    font-size:26pt;
    font-weight:bold;
}

.ni9{
    position:relative;
    float:right;
    border:solid;
    margin-top:-33%;
    margin-right:10%;
    font-size:26pt;
    font-weight:bold;
}

.ni10{
    position:relative;
    float:right;
    border:solid;
    margin-top:-33%;
    margin-right:4.7%;
    font-size:26pt;
    font-weight:bold;
}

.ni11{
    position:relative;
    float:right;
    border:solid;
    margin-top:-33%;
    margin-right:25.7%;
    font-size:26pt;
    font-weight:bold;
}

.ni12{
    position:relative;
    float:right;
    border:solid;
    margin-top:-33%;
    margin-right:1.5%;
    font-size:26pt;
    font-weight:bold;
}

.ni13{
    position:relative;
    float:right;
    border:solid;
    margin-top:-33%;
    margin-right:4%;
    font-size:26pt;
    font-weight:bold;
}

.ni14{
    position:relative;
    float:right;
    border:solid;
    margin-top:-33%;
    margin-right:8.7%;
    font-size:26pt;
    font-weight:bold;
}

.ni15{
    position:relative;
    float:right;
    border:solid;
    margin-top:-33%;
    margin-right:20.5%;
    font-size:26pt;
    font-weight:bold;
}

.ni16{
    position:relative;
    float:right;
    border:solid;
    margin-top:-33%;
    margin-right:16%;
    font-size:26pt;
    font-weight:bold;
}

.ni17{
    position:relative;
    float:right;
    border:solid;
    margin-top:-33%;
    margin-right:29%;
    font-size:26pt;
    font-weight:bold;
}

.ni18{
    position:relative;
    float:right;
    border:solid;
    margin-top:-33%;
    margin-right:27%;
    font-size:26pt;
    font-weight:bold;
}

.ni19{
    position:relative;
    float:right;
    border:solid;
    margin-top:-33%;
    margin-right:41%;
    font-size:26pt;
    font-weight:bold;
}

.ni20{
    position:relative;
    float:right;
    border:solid;
    margin-top:-33%;
    margin-right:42%;
    font-size:26pt;
    font-weight:bold;
}

.ni21{
    position:relative;
    float:right;
    border:solid;
    margin-top:-33%;
    margin-right:39%;
    font-size:26pt;
    font-weight:bold;
}

.ni22{
    position:relative;
    float:right;
    border:solid;
    margin-top:-33%;
    margin-right:37%;
    font-size:26pt;
    font-weight:bold;
}

.ni23{
    position:relative;
    float:right;
    border:solid;
    margin-top:-33%;
    margin-right:22%;
    font-size:26pt;
    font-weight:bold;
}

.ni24{
    position:relative;
    float:right;
    border:solid;
    margin-top:-33%;
    margin-right:30.8%;
    font-size:26pt;
    font-weight:bold;
}

.ni25{
    position:relative;
    float:right;
    border:solid;
    margin-top:-33%;
    margin-right:27%;
    font-size:26pt;
    font-weight:bold;
}

.ni26{
    position:relative;
    float:right;
    border:solid;
    margin-top:-33%;
    margin-right:21.3%;
    font-size:26pt;
    font-weight:bold;
}

.ni27{
    position:relative;
    float:right;
    border:solid;
    margin-top:-33%;
    margin-right:29.7%;
    font-size:26pt;
    font-weight:bold;
}

.ni28{
    position:relative;
    float:right;
    border:solid;
    margin-top:-33%;
    margin-right:32.5%;
    font-size:26pt;
    font-weight:bold;
}

.ni29{
    position:relative;
    float:right;
    border:solid;
    margin-top:-33%;
    margin-right:37.8%;
    font-size:26pt;
    font-weight:bold;
}


.ni30{
    position:relative;
    float:right;
    border:solid;
    margin-top:-33%;
    margin-right:35.8%;
    font-size:26pt;
    font-weight:bold;
}


.ni31{
    position:relative;
    float:right;
    border:solid;
    margin-top:-33%;
    margin-right:45%;
    font-size:26pt;
    font-weight:bold;
}

.ni32{
    position:relative;
    float:right;
    border:solid;
    margin-top:-33%;
    margin-right:43.5%;
    font-size:26pt;
    font-weight:bold;
}

.ni33{
    position:relative;
    float:right;
    border:solid;
    margin-top:-33%;
    margin-right:40.5%;
    font-size:26pt;
    font-weight:bold;
}

.ni32{
    position:relative;
    float:right;
    border:solid;
    margin-top:-33%;
    margin-right:42.5%;
    font-size:26pt;
    font-weight:bold;
}

.ni33{
    position:relative;
    float:right;
    border:solid;
    margin-top:-33%;
    margin-right:46%;
    font-size:26pt;
    font-weight:bold;
}


.image1{
    position:relative;
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/clothes1.jpg);
    height:470px;
    width:510px;
    background-size:cover;
}

.image2{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/clothes2.jpg);
    height:470px;
    width:510px;
    background-size:cover;
}

.image3{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/clothes3.jpg);
    height:470px;
    width:510px;
    background-size:cover;
}

.image4{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/clothes4.jpg);
    height:470px;
    width:510px;
    background-size:cover;
}

.image5{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/clothes5.jpg);
    height:470px;
    width:510px;
    background-size:cover;
}

.image6{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/clothes6.jpg);
    height:470px;
    width:510px;
    background-size:cover;
}

.image7{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/clothes7.jpg);
    height:470px;
    width:510px;
    background-size:cover;
}

.image8{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/clothes8.jpg);
    height:470px;
    width:510px;
    background-size:cover;
}

.image9{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/clothes9.jpg);
    height:470px;
    width:510px;
    background-size:cover;
}

.image10{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/clothes10.jpg);
    height:470px;
    width:510px;
    background-size:cover;
}

.image11{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/clothes11.jpg);
    height:470px;
    width:510px;
    background-size:cover;
}

.image12{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/clothes12.jpg);
    height:470px;
    width:510px;
    background-size:cover;
}

.image13{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/clothes13.jpg);
    height:470px;
    width:510px;
    background-size:cover;
}

.image14{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/clothes14.jpg);
    height:470px;
    width:510px;
    background-size:cover;
}

.image15{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/clothes15.jpg);
    height:470px;
    width:510px;
    background-size:cover;
}

.image16{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/clothes16.jpg);
    height:470px;
    width:510px;
    background-size:cover;
}

.image17{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/racket1.png);
    height:470px;
    width:510px;
    background-size:cover;
}

.image18{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/racket2.png);
    height:470px;
    width:510px;
    background-size:cover;
}

.image19{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/racket3.png);
    height:470px;
    width:510px;
    background-size:cover;
}

.image20{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/racket4.png);
    height:470px;
    width:510px;
    background-size:cover;
}

.image21{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/racket5.png);
    height:470px;
    width:510px;
    background-size:cover;
}

.image22{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/racket6.png);
    height:470px;
    width:510px;
    background-size:cover;
}

.image23{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/racket7.png);
    height:470px;
    width:510px;
    background-size:cover;
}

.image24{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/racket8.png);
    height:470px;
    width:510px;
    background-size:cover;
}

.image25{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/racket9.png);
    height:470px;
    width:510px;
    background-size:cover;
}

.image26{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/racket10.png);
    height:470px;
    width:510px;
    background-size:cover;
}

.image27{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/racket11.png);
    height:470px;
    width:510px;
    background-size:cover;
}

.image28{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/racket12.png);
    height:470px;
    width:510px;
    background-size:cover;
}

.image29{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/racket13.png);
    height:470px;
    width:510px;
    background-size:cover;
}

.image30{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/racket14.png);
    height:470px;
    width:510px;
    background-size:cover;
}

.image31{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/racket15.png);
    height:470px;
    width:510px;
    background-size:cover;
}

.image32{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/racket16.png);
    height:470px;
    width:510px;
    background-size:cover;
}

.image33{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/line1.png);
    height:470px;
    width:510px;
    background-size:cover;
}

.image34{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/line2.png);
    height:470px;
    width:510px;
    background-size:cover;
}

.image35{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/line3.png);
    height:470px;
    width:510px;
    background-size:cover;
}

.image36{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/line4.png);
    height:470px;
    width:510px;
    background-size:cover;
}

.image37{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/line5.png);
    height:470px;
    width:510px;
    background-size:cover;
}

.image38{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/line6.png);
    height:470px;
    width:510px;
    background-size:cover;
}

.image39{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/line7.png);
    height:470px;
    width:510px;
    background-size:cover;
}

.image40{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/line8.png);
    height:470px;
    width:510px;
    background-size:cover;
}

.image41{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/line9.png);
    height:470px;
    width:510px;
    background-size:cover;
}

.image42{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/line10.png);
    height:470px;
    width:510px;
    background-size:cover;
}

.image43{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/line11.png);
    height:470px;
    width:510px;
    background-size:cover;
}

.image44{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/line12.png);
    height:470px;
    width:510px;
    background-size:cover;
}

.image45{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/line13.png);
    height:470px;
    width:510px;
    background-size:cover;
}

.image46{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/line14.png);
    height:470px;
    width:510px;
    background-size:cover;
}

.image47{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/line15.png);
    height:470px;
    width:510px;
    background-size:cover;
}

.image48{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/line16.png);
    height:470px;
    width:510px;
    background-size:cover;
}

.image49{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/grip1.jpg);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image50{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/grip2.jpg);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image51{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/grip3.jpg);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image52{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/grip4.jpg);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image53{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/grip5.jpg);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image54{
    border: 2px solid gray; 
    margin-left:10%;
    background-image:url(../../image/badmintion/grip6.jpg);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image55{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/grip7.jpg);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image56{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/grip8.jpg);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image57{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/grip9.jpg);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image58{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/grip10.jpg);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image59{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/grip11.jpg);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image60{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/grip12.jpg);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image61{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/grip13.jpg);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image62{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/grip14.jpg);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image63{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/grip15.jpg);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image64{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/grip16.jpg);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image65{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/bag1.png);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image66{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/bag2.png);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image67{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/bag3.png);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image68{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/bag4.png);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image69{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/bag5.png);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image70{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/bag6.png);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image71{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/bag7.png);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image72{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/bag8.png);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image73{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/bag9.png);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image74{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/bag10.png);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image75{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/bag11.png);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image76{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/bag12.png);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image77{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/bag13.png);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image78{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/bag14.png);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image79{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/bag15.png);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image80{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/bag16.png);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image81{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/ball1.jpg);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image82{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/ball2.jpg);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image83{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/ball3.png);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image84{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/ball4.jpg);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image85{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/ball5.jpg);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image86{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/ball6.png);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image87{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/ball7.png);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image88{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/ball8.png);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image89{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/ball9.png);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image90{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/ball10.png);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image91{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/ball11.png);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image92{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/ball12.png);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image93{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/ball13.png);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image94{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/ball14.png);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image95{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/ball15.png);
    height:470px;   
    width:510px;
    background-size:cover;
}

.image96{
    border: 2px solid gray;
    margin-left:10%;
    background-image:url(../../image/badmintion/ball16.png);
    height:470px;   
    width:510px;
    background-size:cover;
}