a{ 
    color:black;
 }

 .badmintontools a{
    text-decoration:none;
    font-weight: bolder;
 }

 .right a{
    text-decoration:none;
 }

.right{

    float:right;
    column-count:4;
    padding-top:25px;
    margin-top: -50px;
    vertical-align: text-top;
    grid-column: 10%;
}

.header
{
    width: 100%;
    height: 80px;
}


.logo{
    background-image: url(../image/logo.png);
    height: 70px;
    width: 70px;
    background-size:cover;
    border-radius: 9999em;
    margin-left: 50px;
}
.badmintontools
{
    border-top: solid 3px silver;
    border-bottom: solid 3px silver;
    column-count:6;
    text-align:center;
    margin:10px;
    column-rule:1px silver solid ;
}
.badmintontools div:hover{
    background: -webkit-radial-gradient(ellipse,rgb(216, 214, 214),white);
}
.item{
    padding:10px;
}

.bgc{ 
    padding: 1%;
}

.box{
    position: absolute;
    width: 40%;
    height: 520px;
    border: gray 10px solid;
    margin-left: 27%;
    border-radius: 99px;
    background-color: rgb(241, 255, 254);
    z-index:1;
    clear: left;
    margin-top: 3%;
}
.title{
    font-size: 30px;
    text-align: center;
    text-decoration:underline;
    font-weight: bold;
}

.aplocal{
    font-size: 30px;
    margin-left: 5%;
    margin-top: 5%;
    text-align: center;
}

input[type="email"]{
    height: 20px;
    vertical-align:middle;
}

input[type="date"]{
    height: 20px;
    vertical-align:middle;
}

input[type="password"]{
    height: 20px;
    vertical-align:middle;
}

input[type="text"]{
    height: 20px;
    vertical-align:middle;
}

input[type="reset"]{
    margin-top: 3%;
    height: 40px;
    width: 15%;
    border-radius: 20px;
}

input[type="submit"]{
    height: 40px;
    width: 15%;
    border-radius: 20px;
}

input[type="button"]{
    height: 40px;
    width: 15%;
    border-radius: 20px;
}

.sex{
    padding-right: 26%;
}

.email{
    padding-right: 4%;
}

.password{
    padding-right: 10%;
}

.date{
    padding-right: 13%;
}

.leftpicture{
    position: absolute;
    margin-top: 2%;
    margin-left: 3%;
    height: 100%;
    width: 35%;
    border-radius: 10px;
    background-image: url(../image/badmintionleft.jpg);
    background-size:cover;
    z-index:0;
    opacity: 0.5;
}

.rightpicture{
    position: absolute;
    margin-left: 60%;
    height: 100%;
    width: 35%;
    border-radius: 10px;
    background-image: url(../image/badmintionright.jpg);
    background-size:cover;
    z-index:0;
    opacity: 0.5;
}